@font-face {
    font-family: 'HUBOT';
    src: url('../fonts/hubot-sans-main/fonts/webfonts/HubotSans-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    overflow-x: hidden;
}